<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DemoAppPushFeed" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="DemoAppPushFeed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <DemoAppPushFeed>
      <add key="Username" value="%env_DemoappPushFeedUsername%" />
      <add key="Password" value="%env_DemoappPushFeedPassword%" />
      <add key="ApiKey" value="%env_DemoappPushFeedApiKey%" />
    </DemoAppPushFeed>
  </packageSourceCredentials>
</configuration>
